litellm
ollama
openai
fastmcp
mcp
PyYAML
orjson
tqdm
charset-normalizer
PyMuPDF
PyPDF2
python-dotenv
sentence-transformers
torch
faiss-cpu
chonkie
tiktoken
numpy
pandas
scikit-learn
pdfplumber
python-docx
openpyxl
pywin32
beautifulsoup4
FlagEmbedding
qdrant-client
labelImg
opencv-python
matplotlib
pytest
certifi
python-certifi-win32
